<nav id="navigation">
	<ul>
		<li>{{#link-to 'login'}}Log In{{/link-to}}</li> |
		<li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li> |
		<li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
		<li class="pull-right"><button {{action 'logout'}}>Log Out</button></li>
	</ul>
</nav>

