<h1 class="title_text">Dashboard</h1>
<div class="grid-container outline">
	<!-- <img src="images/middleEarthMap.jpg"> -->
    <div class="row overlay">
        <div class="col-1 gondor"><p>gondor</p></div> 
        <div class="col-1 anduin"><p>anduin</p></div> 
        <div class="col-1 noldor"><p>noldor</p></div> 
        <div class="col-1 saddle"><p>saddle</p></div> 
        <div class="col-1 ranger"><p>ranger</p></div> 
        <div class="col-1 mordor"><p>mordor</p></div> 
    </div> 
    <div class="row">
        <div class="col-2 saddle"><p>saddle</p></div> 
        <div class="col-2 gondor"><p>gondor</p></div> 
        <div class="col-2 noldor"><p>noldor</p></div> 
    </div> 
    <div class="row">
        <div class="col-3 mordor"><p>mordor</p></div> 
        <div class="col-3 anduin"><p>anduin</p></div> 
    </div> 
    <div class="row">
    	<div class="col-6 ranger"><p>ranger</p></div>
    </div>
</div>
{{outlet}}
