<div class="centerize">
<!-- <h1 class="title_text">Log In</h1> -->
	<div class="errors">{{errors}}</div>
	<form>
	  <p>
	    <label for="email">Email</label>
	    {{input class="heroic_input" value=email}}
	  </p>
	  <p>
	    <label for="password">Password</label>
	    {{input class="heroic_input" value=password type="password"}}
	  </p>
	  <button class="title_text" {{action 'logIn'}}>Resume</button>
	</form>
</div>